/* --------------------------------------------------------------*/
/* --- PLEASE UPDATE THESE PARAMETERS BEFORE RUNNING METAGEAR ---*/
/* --------------------------------------------------------------*/

profiles {
    singularity_custom {
        singularity.runOptions = "--writable-tmpfs -B /:/"
    }
    docker_custom {
        docker.runOptions = '-u $(id -u):$(id -g) -v /home:/home'
    }
}

params {

    /* RESOURCES */
    max_cpus = 4
    max_memory = '16GB'
    max_time = '10h'

    /* DATABASES */
    databases_root = "/user/home/.metagear/databases"

    kneaddata_refdb = ["${params.databases_root}/kneaddata/hg37"]

    metaphlan_db = "${params.databases_root}/metaphlan4.1"

    humann3_uniref90 = "${params.databases_root}/humann3.9/uniref90"
    humann3_nucleo = "${params.databases_root}/humann3.9/nucleo"

}
