/* --------------------------------------------------------------*/
/* --- PLEASE UPDATE THESE PARAMETERS BEFORE RUNNING METAGEAR ---*/
/* --------------------------------------------------------------*/

profiles {
    singularity_custom {
        singularity.runOptions = "--writable-tmpfs -B /:/"
    }
    docker_custom {
        docker.runOptions = '-u $(id -u):$(id -g) -v /home:/home'
    }
}

params {

    /* RESOURCES */
    max_cpus = 4
    max_memory = '16GB'
    max_time = '10h'

    /* DATABASES */
    kneaddata_refdb = ["~/.metagear/databases/ref_hg37"]

    metaphlan_db = "~/.metagear/databases/metaphlan4.1"

    humann3_uniref90 = "~/.metagear/databases/humann3.9/uniref90"
    humann3_nucleo = "~/.metagear/databases/humann3.9/nucleo"

}
