/* --------------------------------------------------------------*/
/* --- PLEASE UPDATE THESE PARAMETERS BEFORE RUNNING METAGEAR ---*/
/* --------------------------------------------------------------*/

profiles {
    singularity_custom {
        singularity.runOptions = "--writable-tmpfs -B /:/"
    }
    docker_custom {
        docker.runOptions = '-v /:/'
    }
}

params {

    /* INPUT/OUTPUT */
    input="" // Not needed for setup
    outdir="./results"

    /* RESOURCES */
    max_cpus = 4
    max_memory = '16GB'
    max_time = '2h'

    /* DATABASES */
    kneaddata_refdb = [""]

    metaphlan_db = ""

    humann3_uniref90 = ""
    humann3_nucleo = ""

    /* OTHER */
    validate_params = false
}
