/* --------------------------------------------------------------*/
/* --- PLEASE UPDATE THESE PARAMETERS BEFORE RUNNING METAGEAR ---*/
/* --------------------------------------------------------------*/

params {

	/* INPUT/OUTPUT */
	input=""
	outdir="./results"

	/* RESOURCES */
	max_cpus = 4
	max_memory = '16GB'
	max_time = '2h'

	/* DATABASES */
    metaphlan_db = ""
    kneaddata_refdb = [""]

	/* OTHER */
	validate_params = false
}
