params {
    validate_params = false
    module = ""
    subworkflow = "qc"
    workflow = ""
    metaphlan_db = ""
    dereplication = true
    humann3_uniref90 = ""
    humann3_nucleo = ""
    fix_fastq_header = false
    kneaddata_refdb = ["/nfs/data/database/hg38_bt2"]
    max_cpus = 48
    max_memory = '80GB'
    max_time = '100h'
}

profiles {
    singularity_custom {
        singularity.runOptions = "--writable-tmpfs -B /:/ -B /nfs/data:/nfs/data -B /nfs/arxiv:/nfs/arxiv"
    }

    docker_custom {
        docker.runOptions = '-u $(id -u):$(id -g) -v /home:/home'
    }

}

process {
    withName: SAMPLESHEET_CHECK {

        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
        ]
    }

    withName: RENAME_FILES {
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time

        publishDir = [
            path: { "${params.outdir}" },
            saveAs: { filename -> null }
        ]
    }

    withName: MULTIQC {

        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
        ]
    }

    withName: PARSE_KNEADDATA {

        publishDir = [
            path: { "${params.outdir}/kneaddata/stats" },
        ]
    }

    withName: SUMMARY_KNEADDATA {

        publishDir = [
            path: { "${params.outdir}/kneaddata/stats" },
        ]
    }

    withName: KNEADDATA_DATABASE {
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

    withName: METAPHLAN_MAKEDB {
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time

        publishDir = [
            path: { "${params.outdir}" },
            saveAs: { filename -> null }
        ]
    }

    withName: HUMANN_DATABASES {

        ext.args = "--update-config no"
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time

        publishDir = [
            path: { "${params.outdir}" },
            saveAs: { filename -> null }
        ]
    }

    withName: MEGAHIT {
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

	withName: PRODIGAL {
		ext.args = "-p meta"
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

	withName: FILTER_PRODIGAL {
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

	withName: VAMB_CONCATENATE_FASTA {
		ext.args = "-m 10 --keepnames"
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

	withName: 'CDHIT_CDHITEST' {
        ext.args = '-aS 0.90 -aL 0.90 -c 0.95 -r 0 -B 0 -d 0 -sc 1'
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

    withName: 'METAPHLAN_METAPHLAN' {
        ext.args = "--profile_vsc"
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

    withName: 'HUMANN_FUNCTION' {
        ext.args2 = "--units cpm -p"
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

    withName: FASTQC {
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

    withName: TRIMGALORE {
        ext.args = '--phred33 --quality 0 --stringency 5 --length 10'

        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

    withName: KNEADDATA {
        ext.args = "--trimmomatic-options 'HEADCROP:15 SLIDINGWINDOW:4:15 MINLEN:50' --reorder --remove-intermediate-output --bypass-trf --trimmomatic /usr/local/share/trimmomatic-0.39-2"

        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
        maxForks = 4
    }

    withName: FIX_HEADER {
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

}
