process {
    withName: '.*:BWA_INDEX' {

        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time

        publishDir = [
            path: { "${params.outdir}/coverm/${meta.id}" },
            mode: "copy",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:ABUNDANCE:COVERM_MAKE' {
        ext.args = "-p bwa-mem"

        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time

        publishDir = [
            path: { "${params.outdir}/coverm" },
            mode: "copy",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename.startsWith('out/') ? filename.replace('out/', 'bam/') : filename }
        ]
    }

    withName: '.*:ABUNDANCE:COVERM_CONTIG' {
        ext.args = "--min-read-percent-identity 95 --min-read-aligned-percent 75" // Count
        ext.args2 = "--min-read-percent-identity 95 --min-read-aligned-percent 75 --min-covered-fraction 20" // RPKM, TPM

        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time

        publishDir = [
            path: { "${params.outdir}/coverm/tables_raw" },
            mode: "copy",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
