params {
    validate_params = false
    workflow = "e2e"  // Default workflow name when not specified
}

process {

    withName: SAMPLESHEET_CHECK {

        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: "copy",
            saveAs: { filename -> "${params.workflow}_${filename}" }
        ]
    }

    withName: RENAME_FILES {
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time

        publishDir = [
            path: { "${params.outdir}" },
            saveAs: { filename -> null }
        ]
    }

    withName: CONCATENATE_READS {

        publishDir = [
            enabled: false,
        ]
    }

    withName: MULTIQC {

        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: "copy",
            saveAs: { filename -> "${params.workflow}_${filename}" }
        ]
    }

    withName: PARSE_KNEADDATA {

        publishDir = [
            path: { "${params.outdir}/kneaddata/stats" },
            mode: "copy"
        ]
    }

    withName: SUMMARY_KNEADDATA {

        publishDir = [
            path: { "${params.outdir}/kneaddata/stats" },
            mode: "copy"
        ]
    }

}
