params {

    module = ""
    subworkflow = ""
    workflow = "setup"

}

process {

    withName: KNEADDATA_DATABASE {
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

    withName: METAPHLAN_MAKEDB {
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time

        publishDir = [
            path: { "${params.outdir}" },
            saveAs: { filename -> null }
        ]
    }

    withName: HUMANN_DATABASES {

        ext.args = "--update-config no"
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time

        publishDir = [
            path: { "${params.outdir}" },
            saveAs: { filename -> null }
        ]
    }

}
