process {

    withName: KNEADDATA_DATABASE {

        publishDir = [
            path: { "${params.outdir}" },
            saveAs: { filename -> null }
        ]
    }

    withName: METAPHLAN_MAKEDB {

        publishDir = [
            path: { "${params.outdir}" },
            saveAs: { filename -> null }
        ]
    }

    withName: HUMANN_DATABASES {

        ext.args = "--update-config no"

        publishDir = [
            path: { "${params.outdir}" },
            saveAs: { filename -> null }
        ]
    }

    withName: GENOMAD_DOWNLOAD {


        publishDir = [
            path: { "${params.outdir}" },
            saveAs: { filename -> null }
        ]
    }

    withName: CHECKV_DOWNLOADDATABASE {


        publishDir = [
            path: { "${params.outdir}" },
            saveAs: { filename -> null }
        ]
    }

    withName: VIRSORTER2_SETUP {


        publishDir = [
            path: { "${params.outdir}" },
            saveAs: { filename -> null }
        ]
    }

    withName: DRAM_SETUP {


        publishDir = [
            path: { "${params.outdir}" },
            saveAs: { filename -> null }
        ]
    }

    withName: IPHOP_DOWNLOAD {


        publishDir = [
            path: { "${params.outdir}" },
            saveAs: { filename -> null }
        ]
    }

    withName: AMRFINDERPLUS_UPDATE {


        publishDir = [
            path: { "${params.outdir}" },
            saveAs: { filename -> null }
        ]
    }

    withName: MMSEQS_DATABASES {


        publishDir = [
            path: { "${params.outdir}" },
            saveAs: { filename -> null }
        ]
    }

}
