process {

    withName: KNEADDATA_DATABASE {
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time

        publishDir = [
            path: { "${params.outdir}" },
            saveAs: { filename -> null }
        ]
    }

    withName: METAPHLAN_MAKEDB {
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time

        publishDir = [
            path: { "${params.outdir}" },
            saveAs: { filename -> null }
        ]
    }

    withName: HUMANN_DATABASES {

        ext.args = "--update-config no"
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time

        publishDir = [
            path: { "${params.outdir}" },
            saveAs: { filename -> null }
        ]
    }

    withName: GENOMAD_DOWNLOAD {

        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time

        publishDir = [
            path: { "${params.outdir}" },
            saveAs: { filename -> null }
        ]
    }

    withName: CHECKV_DOWNLOADDATABASE {

        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time

        publishDir = [
            path: { "${params.outdir}" },
            saveAs: { filename -> null }
        ]
    }

    withName: VIRSORTER2_SETUP {

        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time

        publishDir = [
            path: { "${params.outdir}" },
            saveAs: { filename -> null }
        ]
    }

    withName: DRAM_SETUP {

        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time

        publishDir = [
            path: { "${params.outdir}" },
            saveAs: { filename -> null }
        ]
    }

    withName: IPHOP_DOWNLOAD {

        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time

        publishDir = [
            path: { "${params.outdir}" },
            saveAs: { filename -> null }
        ]
    }

    withName: AMRFINDERPLUS_UPDATE {

        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time

        publishDir = [
            path: { "${params.outdir}" },
            saveAs: { filename -> null }
        ]
    }

}
