process {

    withName: PRODIGAL {
        ext.args = "-p meta"

        publishDir = [
            path: { "${params.outdir}/prodigal/raw" },
            mode: "copy",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

    }

    withName: FILTER_PRODIGAL {

        publishDir = [
            path: { "${params.outdir}/prodigal" },
            mode: "copy",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

    }

    withName: '.*:VAMB_CONCATENATE_FASTA' {

        ext.args = "-m 10 --keepnames"
        //ext.args2 = "--catalog_name catalog"


        publishDir = [
            path: { "${params.outdir}/catalogs/raw" },
            mode: "copy",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:CLUSTER_GENES:MMSEQS_EASY_CLUSTER' {
        ext.args = "--min-seq-id 0.95 --cov-mode 0 -c 0.90 --alignment-mode 3"


        publishDir = [
            path: { "${params.outdir}/catalogs" },
            mode: "copy",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'EXTRACT_GENES' {


        publishDir = [
            path: { "${params.outdir}/virus/viral_genes" },
            mode: "copy",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
