params {
    metaphlan_profiles = false
}

process {

    withName: MSPMINER_MSPMINER {

        publishDir = [
            path: { "${params.outdir}/msp" },
            mode: "copy",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

    }

    withName: MSP_SEQUENCES {

        publishDir = [
            path: { "${params.outdir}/msp" },
            mode: "copy",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

    }

    withName: MSP_ABUNDANCE {

        publishDir = [
            path: { "${params.outdir}/msp" },
            mode: "copy",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

    }

}

