process {

    withName: MEGAHIT {
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

    withName: PRODIGAL {
        ext.args = "-p meta"

        publishDir = [
            path: { "${params.outdir}/prodigal/raw" },
            mode: "copy"
        ]

        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

    withName: FILTER_PRODIGAL {

        publishDir = [
            path: { "${params.outdir}/prodigal" },
            mode: "copy"
        ]

        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

    withName: 'CDHIT_CDHITEST' {
        ext.args = '-aS 0.90 -aL 0.90 -c 0.95 -r 0 -B 0 -d 0 -sc 1'
        ext.suffix = 'nr9590.fa'

        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

    withName: '.*:GENE_CALL:VAMB_CONCATENATE_FASTA' {
        ext.args = "-m 10 --keepnames"
        ext.args2 = "--catalog_name merged"
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

}
