includeConfig "${projectDir}/conf/metagear/gene_call.config"
includeConfig "${projectDir}/conf/metagear/gene_abundance.config"
includeConfig "${projectDir}/conf/metagear/protein_annotation.config"

params {
    metaphlan_profiles = false
}

process {

    withName: MSPMINER_MSPMINER {

        publishDir = [
            path: { "${params.outdir}/msp" },
            mode: "copy"
        ]

        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

    withName: TRANSLATE_DNA2PROT {
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

    withName: MSP_SEQUENCES {

        publishDir = [
            path: { "${params.outdir}/msp" },
            mode: "copy"
        ]

        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

    withName: MSP_ABUNDANCE {

        publishDir = [
            path: { "${params.outdir}/msp" },
            mode: "copy"
        ]

        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

}

