process {

    withName: BWAMEM2_INDEX {
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

    withName: COVERM_MAKE {
        ext.args = "-p bwa-mem"
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

    withName: '.*:GENE_ABUNDANCE:COVERM_CONTIG_BATCH' {
        ext.args = "--min-read-percent-identity 95 --min-read-aligned-percent 75" // Count
        ext.args2 = "--min-read-percent-identity 95 --min-read-aligned-percent 75 --min-covered-fraction 20" // RPKM, TPM
        cpus = 6
        memory = params.max_memory
        time = params.max_time
    }

    withName: MSPMINER_MSPMINER {
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

}
