process {

    withName: BWAMEM2_INDEX {
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

    withName: COVERM_MAKE {
        ext.args = "-p bwa-mem"
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

    withName: COVERM_CONTIG {
        ext.args = "--min-read-percent-identity 0.95 --min-read-aligned-percent 0.75" // Count
        ext.args2 = "--min-read-percent-identity 0.95 --min-read-aligned-percent 0.75 --min-covered-fraction 0.20" // RPKM, TPM
        memory = params.max_memory
        time = params.max_time
    }

    withName: MSPMINER_MSPMINER {
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

	withName: TRANSLATE_DNA2PROT {
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

    withName: CDHIT_CDHIT {
        ext.args = '-aS 0.80 -aL 0.80 -c 0.90 -B 0 -d 0 -sc 1'
        ext.suffix = 'prot90.faa'
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

	withName: SEQKIT_SPLIT2 {
		ext.args = '-p 1000'
		cpus = params.max_cpus
		memory = params.max_memory
		time = params.max_time
	}

    withName: INTERPROSCAN {
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
        ext.args = '-appl Pfam'
    }

}

