process {

    /* Bacterial profiles with Metaphlan */
    withName: 'METAPHLAN_METAPHLAN' {
        ext.args = "--profile_vsc"

        publishDir = [
            path: { "${params.outdir}/metaphlan/individual_profiles" },
            mode: "copy"
        ]

        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

    withName: 'METAPHLAN_MERGE_PROFILES' {

        publishDir = [
            path: { "${params.outdir}/metaphlan" },
            mode: "copy"
        ]

        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

    withName: 'HUMANN_FUNCTION' {
        ext.args2 = "--units cpm -p"
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }
}
