params {
    include_virus = false
}

process {

    /* Bacterial profiles with Metaphlan */
    withName: 'METAPHLAN_METAPHLAN' {
        ext.args = params.include_virus ? "--profile_vsc" : ""

        publishDir = [
            path: { "${params.outdir}/metaphlan/individual_profiles" },
            mode: "copy",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

    withName: 'METAPHLAN_MERGE_PROFILES' {

        publishDir = [
            path: { "${params.outdir}/metaphlan" },
            mode: "copy",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

    withName: 'HUMANN_FUNCTION' {
        ext.args2 = "--units cpm -p"
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

    withName: 'MERGE_MICROBIAL_PROFILES' {
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

}
