params {

    module = ""
    subworkflow = "abundance"
    workflow = ""

    /* Metaphlan Parameters */
    metaphlan_db = "/nfs/data/database/core/metaphlan_db_4.1"
    dereplication = true

}

process {

    /* Bacterial profiles with Metaphlan */
    withName: 'METAPHLAN_METAPHLAN' {
        ext.args = "--profile_vsc"
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

}