process {

    withName: TRANSLATE_DNA2PROT {

        publishDir = [
            path: { "${params.outdir}/translated" },
            mode: "copy"
        ]

        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

    withName: CDHIT_CDHIT {
        ext.args = '-aS 0.80 -aL 0.80 -c 0.90 -B 0 -d 0 -sc 1'
        ext.suffix = 'prot90.faa'

        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

    withName: INTERPROSCAN {

        ext.args = '-appl Pfam'

        publishDir = [
            path: { "${params.outdir}/interproscan/raw" },
            mode: "copy"
        ]

        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time

    }

    withName: SEQKIT_SPLIT2 {
        ext.args = '-s 50000 -e ".gz"'

        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

    withName: FUNCTIONALGROUP_ANNOTATION {

        publishDir = [
            path: { "${params.outdir}/interproscan" },
            mode: "copy"
        ]

        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

}
