process {

    withName: TRANSLATE_DNA2PROT {

        publishDir = [
            path: { "${params.outdir}/catalogs/raw" },
            mode: "copy",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

    }

    withName: '.*:CLUSTER_PROTEINS:MMSEQS_EASY_CLUSTER' {
        ext.args = "--min-seq-id 0.90 --cov-mode 0 -c 0.80 --alignment-mode 3"


        publishDir = [
            path: { "${params.outdir}/catalogs" },
            mode: "copy",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: INTERPROSCAN {

        ext.args = '-appl Pfam'

        publishDir = [
            path: { "${params.outdir}/annotations/interproscan/raw" },
            mode: "copy",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]


    }

    withName: SEQKIT_SPLIT2 {
        ext.args = "-s ${params.sequences_batch_size} -e '.gz'"

    }

    withName: FUNCTIONALGROUP_ANNOTATION {

        publishDir = [
            path: { "${params.outdir}/annotations/interproscan" },
            mode: "copy",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

    }


    withName: AMRFINDERPLUS_RUN {
        ext.args = '--plus'


        publishDir = [
            path: { "${params.outdir}/annotations/amrfinder" },
            mode: "copy",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
