process {

    withName: TRANSLATE_DNA2PROT {
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

    withName: CDHIT_CDHIT {
        ext.args = '-aS 0.80 -aL 0.80 -c 0.90 -B 0 -d 0 -sc 1'
        ext.suffix = 'prot90.faa'
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

    withName: INTERPROSCAN {
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
        maxForks = 5
        ext.args = '-appl Pfam'
    }
}
