process {

    withName: TRANSLATE_DNA2PROT {

        publishDir = [
            path: { "${params.outdir}/catalogs/raw" },
            mode: "copy",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

    withName: '.*:PROTEIN_CALL:MMSEQS_EASY_CLUSTER' {
        ext.args = "--min-seq-id 0.90 --cov-mode 0 -c 0.80 --alignment-mode 3"

        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time

        publishDir = [
            path: { "${params.outdir}/catalogs" },
            mode: "copy",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: INTERPROSCAN {

        ext.args = '-appl Pfam'

        publishDir = [
            path: { "${params.outdir}/interproscan/raw" },
            mode: "copy",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time

    }

    withName: SEQKIT_SPLIT2 {
        ext.args = "-s ${params.sequences_batch_size} -e '.gz'"

        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

    withName: FUNCTIONALGROUP_ANNOTATION {

        publishDir = [
            path: { "${params.outdir}/interproscan" },
            mode: "copy",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

}
