params {

    module = ""
    subworkflow = "qc"
    workflow = ""

    fix_fastq_header = false
    kneaddata_refdb = [""]

}

process {

    withName: FASTQC {
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

    withName: TRIMGALORE {
        ext.args = '--phred33 --quality 0 --stringency 5 --length 10'

        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

    withName: KNEADDATA {
        ext.args = "--trimmomatic-options 'HEADCROP:15 SLIDINGWINDOW:4:15 MINLEN:50' --reorder --remove-intermediate-output --bypass-trf --trimmomatic /usr/local/share/trimmomatic-0.39-2"

        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
        maxForks = 4
    }

    withName: FIX_HEADER {
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

}
