params {

    fix_fastq_header = false
    kneaddata_refdb = [""]

}

process {

    withName: TRIMGALORE {
        ext.args = '--phred33 --quality 0 --stringency 5 --length 10'
    }

    withName: KNEADDATA {
        ext.args = "--trimmomatic-options 'HEADCROP:15 SLIDINGWINDOW:4:15 MINLEN:50' --reorder --remove-intermediate-output --bypass-trf --trimmomatic /usr/local/share/trimmomatic-0.39-2"
    }

}
