includeConfig "${projectDir}/conf/metagear/gene_call.config"
includeConfig "${projectDir}/conf/metagear/gene_abundance.config"
includeConfig "${projectDir}/conf/metagear/protein_annotation.config"
includeConfig "${projectDir}/conf/metagear/viral_detection.config"

params {
    catalog_derep_min_seq_identity = 0.95
    catalog_derep_min_coverage = 0.80
}

process {

    withName: '.*:VIRAL_ANALYSIS:CLUSTER_SEQUENCES:MMSEQS_EASY_CLUSTER' {
        ext.args = "--min-seq-id ${params.catalog_derep_min_seq_identity} -c ${params.catalog_derep_min_coverage} --cov-mode 1"
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

    withName: '.*:VOTU_ABUNDANCE:COVERM_CONTIG_BATCH' {
        ext.args = "--min-read-percent-identity 0.95 --min-read-aligned-percent 0.75" // Count
        ext.args2 = "--min-read-percent-identity 0.95 --min-read-aligned-percent 0.75 --min-covered-fraction 0.5" // RPKM, TPM
        cpus = 6
        memory = params.max_memory
        time = params.max_time
    }

}
