process {

    withName: GENOMAD_PASS1 {

        ext.args = "--lenient-taxonomy --cleanup --conservative"

        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time

        publishDir = [
            path: { "${params.outdir}/genomad/virus/${task.tag}" },
        ]
    }

    withName: CHECKV_PASS1 {

        ext.args = "--remove_tmp"

        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time

        publishDir = [
            path: { "${params.outdir}/checkv/virus/${task.tag}" },

            // for each file, strip its original name and return virus.<orig>”
            saveAs: { file ->
                def baseName = (file instanceof String) ? file.tokenize( '/' )[-1] : file.name
                return "virus.${baseName}"
            }
        ]

    }

    withName: GENOMAD_PASS2 {

        ext.args = "--lenient-taxonomy --cleanup --conservative"

        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time

        publishDir = [
            path: { "${params.outdir}/genomad/provirus/${task.tag}" },
        ]
    }

    withName: CHECKV_PASS2 {

        ext.args = "--remove_tmp"

        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time

        publishDir = [
            path: { "${params.outdir}/checkv/provirus/${task.tag}" },

            // for each file, strip its original name and return “provirus.<orig>”
            saveAs: { file ->
                def baseName = (file instanceof String) ? file.tokenize( '/' )[-1] : file.name
                return "provirus.${baseName}"
            }
        ]
    }

}