process {

    withName: VIRSORTER2_4DRAMV {
        // ext.args = '--keep-original-seq --seqname-suffix-off --viral-gene-enrich-off --provirus-off --prep-for-dramv --include-groups dsDNAphage,NCLDV,RNA,ssDNA,lavidaviridae --min-length 1000 --min-score 0.5'
        ext.args = '--keep-original-seq --seqname-suffix-off --viral-gene-enrich-off --provirus-off --prep-for-dramv --include-groups dsDNAphage,ssDNA,NCLDV,lavidaviridae --min-length 1000 --min-score 0.5 --max-orf-per-seq 50'
        ext.args2 = '.4dramv'
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }


    withName: DRAMV {
        ext.args = '--skip_trnascan --min_contig_size 1000'
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

    withName: AMRFINDERPLUS_RUN {
        ext.args = '--plus'
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time
    }

    withName: IPHOP_PREDICT {
        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time

        publishDir = [
            path: { "${params.outdir}/iphop/parts" },
            mode: "copy"
        ]
    }

    withName: '.*:VIRAL_ANNOTATION:SEQKIT_SPLIT2' {

        ext.args = '-s 50000 -e ".gz"'

        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time

    }

}
 