process {

    withName: GENOMAD_PASS1 {
        
        ext.args = "--lenient-taxonomy --cleanup --conservative"

        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time

        publishDir = [
            path: { "${params.outdir}" },
            saveAs: { filename -> null }
        ]
    }

    withName: CHECKV_PASS1 {

        ext.args = "--remove_tmp"       

        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time

        publishDir = [
            path: { "${params.outdir}" },
            saveAs: { filename -> null }
        ]

    }


    withName: GENOMAD_PASS2 {

        ext.args = "--lenient-taxonomy --cleanup --conservative"

        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time

        publishDir = [
            path: { "${params.outdir}" },
            saveAs: { filename -> null }
        ]
    }

    withName: CHECKV_PASS2 {

        ext.args = "--remove_tmp"

        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time

        publishDir = [
            path: { "${params.outdir}" },
            saveAs: { filename -> null }
        ]
    }


    withName: CHECKV_ADAPT_OUTPUT {

        cpus = params.max_cpus
        memory = params.max_memory
        time = params.max_time

        publishDir = [
            path: { "${params.outdir}/genomad_checkv" }
        ]
    }

    

}