process {

    withName: GENOMAD_PASS1 {

        ext.args = "--cleanup --conservative --enable-score-calibration"


        publishDir = [
            path: { "${params.outdir}/virus/genomad/virus/${task.tag}" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: CHECKV_PASS1 {

        ext.args = "--remove_tmp"


        publishDir = [
            path: { "${params.outdir}/virus/checkv/virus/${task.tag}" },
            mode: 'copy',

            // for each file, strip its original name and return virus.<orig>”
            saveAs: { filename ->
                def baseName = (filename instanceof String) ? filename.tokenize('/')[-1] : filename.name
                return filename.equals('versions.yml') ? null : "virus.${baseName}"
            }
        ]

    }

    withName: GENOMAD_PASS2 {

        ext.args = "--cleanup --conservative --enable-score-calibration"


        publishDir = [
            path: { "${params.outdir}/virus/genomad/provirus/${task.tag}" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: CHECKV_PASS2 {

        ext.args = "--remove_tmp"


        publishDir = [
            path: { "${params.outdir}/virus/checkv/provirus/${task.tag}" },
            mode: 'copy',

            // for each file, strip its original name and return “provirus.<orig>”
            saveAs: { filename ->
                def baseName = (filename instanceof String) ? filename.tokenize('/')[-1] : filename.name
                return filename.equals('versions.yml') ? null : "provirus.${baseName}"
            }
        ]
    }

    withName: MERGE_TABLES {


        publishDir = [
            path: { "${params.outdir}/virus/merge_filter" },
            mode: "copy",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: EXTRACT_SEQUENCES {

        ext.args2 = "--catalog_name filtered"

        publishDir = [
            path: { "${params.outdir}/virus/merge_filter" },
            mode: "copy",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }


}